html{
    font-size:100%;
}

body{
    background-color:darkslateblue;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    margin:0 auto;
    padding:15px;
    margin-top:30px;
    width:960px;
    background-color:#ffffff;
    border-radius:6px;
    box-sizing:border-box;
    display:flex;
    display:-webkit-flex;
    display:-moz-box;
    flex-direction:row;
    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    align-items: center;
}

.container-actions{
    margin:0 auto;
    margin-top:30px;
    width:960px;
    height:200px;
    display:flex;
    display:-webkit-flex;
    display:-moz-box;
    flex-direction:column;
    align-items: flex-end;
    -webkit-justify-content: center;
    justify-content: center;
}

.container-actions .btn{
    border:2px solid #fff;
    border-radius:6px;
    padding:10px 16px;
    font-size:1.4rem;
    background-color:orangered;
    color:#fff;
}

.container-actions .btn:first-child{
    margin-bottom:20px;
}

header.container > h1{
    color:#333;
    font-size:2.8rem;
    text-transform:uppercase;
}

header.container .flex-item{
    padding:15px;
}

header.container p{
    font-size:1rem;
    line-height:1.3rem;
}

.container.icons{
    display:flex;
    flex-direction:row-reverse;
    -webkit-flex-direction:row-reverse;
    -moz-flex-direction:row-reverse;
}

.container.icons > div{
    flex-grow:2;
    text-align: center;
}

.container.icons h2{
    color:#333;
    margin:14px 0;
    font-size:1.3rem;
}

.container.icons .fa{
    font-size:4rem;
    color:darkslateblue;
}

